body {
    background: url("images/sub2.png");
    background-size: cover;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    

}

h1 {
    font-size: 2.1em;
    margin: 1em 0 1em;
}

#counter-elem {
    font-size: 3.2em;
}